h1 {
    text-align: center;
    color:#336699;
}

body {
    margin: 20px 10%;
}

pre {
    background-color: #7be096;
    border:1px dotted #888888;
    padding: 20px;
    border-radius: 20px;
}
.button {
    background-color: #73c4df; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  }